body {
  background-color: #3498db;
}

.flex-container{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	border: solid 3px magenta;
	height: 100vh;
	align-items: center;
	align-content: center;

}

.flex-item{
	height: 50px;
	background-color: orange;
	text-align: center;
	border: solid 3px red;
	width:33%;
	height: 50%;
	align-items: center;
	align-content: center;
	margin: auto;

	
}
.flex-anotherItem{
	width:calc(33% -10px);
	margin:10px;
}

/*.one{
	height: 100px;
	width: 100px;
	flex-wrap:wrap;
	justify-content: space-around;
	display:flex;
	align-content: center;
	align-items: center:


}*/

/*.five {
	order: -1;
}

.three{
	flex:2;
}
*/